//variables
$headfoot-bgcolor:#494949;
$headfoot-fontcolor:#464646;

$headfoot-altbgcolor:#ffffff94;
$headfoot-altcolor:#e9e9e9;

$process-color:#375db2;

$section-heading:3em;
$section-slogan:2em;
$small-heading:1.5em;
$small-slogan:1em;

$padding:15px 25px;

$navbarHeight:70px;
$paddingtop:$navbarHeight;
$margintop:-$navbarHeight;
$marginbottom:$navbarHeight;

$mediaWidth:720px;