*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior:smooth;
}

@import 'scss/_variables';
@import 'scss/_mixins';

#banner-one{ 
    @include banner;     
}

#banner-two{
    @include banner;
    h1, p{
        color:white;
    }
}

header{
    background:$headfoot-altbgcolor;
    color: $headfoot-fontcolor;
    position: fixed;
    width: 100%;
    height:$navbarHeight;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    h3.logo{
        font-size: 2em;
        padding: 5px 25px;
        background: $headfoot-bgcolor;
        border-radius: 15px;
        margin-right:auto;

        a{
            text-decoration:none;
            color: $headfoot-altcolor;
        }
    }

}

#navbar{
    a{
        text-decoration: none;
        color:lighten($headfoot-fontcolor, 15%);
        text-transform: uppercase;
        padding: $padding;
        font-weight: bold;

        &:nth-last-child(1){
            margin-right:10vw;
        }

        &:hover{
            color:darken($headfoot-fontcolor, 50%);     //color functions
        }
    }
}

#section-process{
    text-align: center;
    padding-top: $paddingtop;          //height of navbar
    margin-top: $margintop;
    margin-bottom:$marginbottom;
    text-align: center;
    h1{
        font-size:$section-heading;
        @include mediaQuery($mediaWidth){
            font-size:$small-heading;
        }
    }
}

#process{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    .operation{
        text-align: center;
        width:(70%/3);      //mathematical operator
        min-width:300px;
        padding:$padding;
        .process-img{
            max-width:100%;
            height:200px;
        }
        h3{
            text-transform: uppercase;
            margin-top:25px;
        }

    }    
}

